{% extends "base.html" %}

{% block title %}
    Band List
{% endblock %}

{% block content %}
    <h2>List of product</h2>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Size</th>
                <th>Price</th>
                <th>Amount</th>
                <th>description</th>
                <th>Band</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.image }}</td>
                    <td>{{ product.size }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.band_id.name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No products available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'add_product' %}">Add New Product</a>  <!-- ลิงก์ไปยังหน้าเพิ่มวง -->
{% endblock %}