{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band T Shirt</title>
</head>
<body>
    {% if request.session.customer_first_name %}
    <p>Welcome to store {{ request.session.customer_first_name }}</p>
    {% else %}
    <p>Welcome to store, please log in.</p>
    {% endif %}
        <a href="{% url 'myaddress'%}">
            <button type="button">Myaddress</button>
        </a>
</body>
</html>
{% endblock %}